* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
}

#__nuxt {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
